body {
  font-family: 'space_groteskregular';
  color: #091841;
}

img{ max-width:100%;}
.inbox_people {
  background: #ffff none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; 
  height: 100% !important;
  border-right:1px solid #CED1D9;
}
.inbox_msg {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
  border-radius: 15px;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {width:100%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 100%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

#search-user-name .form-search-user {
  position: relative;
  width: 280px;
}

#search-user-name .form-search-user-input {
  width: 100%;
  border: 1px solid #CED1D9;
  border-radius: 6px;
  padding: 10px 100px 10px 20px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
  background-image: url('../images/icon/search-icon.svg');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 17px;
  text-indent: 20px;
  font-family: 'space_groteskmedium';
  font-size: 14px;
  color: #091841;
  line-height: 20px;
  height: 50px;
}

#search-user-name .form-search-user-input:focus {
  border: 1px solid #163AC7;
}

#search-user-name .form-search-user-input::placeholder {
  font-family: 'space_groteskmedium';
  font-size: 14px;
  color: #9da3b3;
}

.chat_ib h5{ font-size:15px; color:#091841; margin:0 0 8px 0;}
.chat_ib h5 .chat_time{ font-size:13px; color: #BEBEBE; float:right;}
.chat_ib p{ font-size:14px; color: #9DA3B3; margin:auto}
.chat_ib .online-time{ font-size:14px; color: #CED1D9; margin:auto}
.chat_ib .number-of-incoming-chat {
  display: inline-block;
  font-size: 12px;
  background: #59DAFF;
  color: white;
  border-radius: 100%;
  padding: 2px 5px 2px 5px;
  margin-left: 5px;
}

.chat_img {
  float: left;
  width: 18%;
  border-radius:8px;
}

.chat_img_top {
  float: left;
  width: 12%;
  border-radius:8px;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 80%;
}

.chat_ib .new-chat {
  color: #30D1FF;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #CED1D9;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 671px;}

.msg_history p {
  font-family: 'space_groteskmedium';
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 14px 14px 14px 0px;
  color: #091841;
  font-size: 14px;
  margin: 0;
  padding: 12px 10px 12px 12px;
  width: 100%;
}
#sent_msg .time_date {
  color: #BEBEBE;
  display: block;
  font-size: 12px;
  right: 0px !important;
  position: relative;
  float: right;
  width: 69%;
  margin-top: -15px;
}

#received_msg .time_date {
  color: #BEBEBE;
  display: block;
  font-size: 12px;
  right: 0px !important;
  position: relative;
  float: right;
  width: 40%;
  margin-top: -15px;
}

.received_withd_msg .msg { width: 57%;}
.mesgs {
  float: left;
  /* padding: 30px 15px 0 25px; */
  width: 60%;
  background:white;
}

 .sent_msg p {
  background: #163AC7;
  border-radius: 14px 14px 0px 14px;
  font-size: 14px;
  margin: 0;
  color:#fff;
  padding: 12px 12px 12px 15px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg .msg {
  float: right;
  width: 60%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border: 1px solid #163AC7;border-radius:10px;position: relative;margin:10px;background:white;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 10px;
  top: 15%;
  width: 33px;
  
}
.messaging { padding: 0 0 50px 0;
border:15px !important; }
.msg_history {
  height: 516px;
  overflow-y: auto;
}

#type_message .form-type-chat {
  position: relative;
  width: 100%;
}

#type_message .type-chat-input {
  width: 100%;
  border: 1px solid #9DA3B3;
  border-radius: 18px;
  padding: 10px 100px 10px 20px;
  outline: none;
  font-family: 'space_groteskmedium';
  font-size: 14px;
  color: #091841;
  height: 65px;
}

#type_message .type-chat-input:focus {
  border: 1px solid #163AC7;
  transition: 0.2s ease-in;
}

#type_message .type-chat-input::placeholder {
  font-family: 'space_groteskmedium';
  font-size: 14px;
  color: #9DA3B3;
}

#type_message .form-type-chat .btn-submit {
  background-color: transparent;
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border: 0;
  margin: 1px;
  padding: 0 10px;
  font-size: 13px;
}