/* == Import Font - Space Grotesk == */
@import url("../font/font.css");

body {
    font-family: 'space_groteskregular';
    color: #091841;
}

.btn-prim {
    background-color: #163AC7 !important;
    color: white;
}

.btn-prim:hover {
    background-color: #0b2caf !important;
    color: white;
}

.font-weight-medium {
    font-family: 'space_groteskmedium';
}

.font-weight-semibold {
    font-family: 'space_grotesksemibold';
}

.font-weight-bold {
    font-family: 'space_groteskbold';
}

/* == End of Import FOnt - Space Grotesk == */

/* == Typography == */
.h1 {
    font-size: 60px;
}

.h2 {
    font-size: 40px;
}

.h3 {
    font-size: 28px;
}

.h4 {
    font-size: 26px;
}

.h5 {
    font-size: 22px;
}

.h6 {
    font-size: 20px;
}

.body-large {
    font-size: 17px;
}

.body-medium {
    font-size: 14px;
}

.body-small {
    font-size: 12px;
}

.description {
    font-size: 15px;
}

.button {
    font-size: 15px;
}

/* == End Of Typography */


/* == Color List == */
.color-1 {
    color: #091841;
}

.color-2 {
    color: #9DA3B3;
}

.color-3 {
    color: #CED1D9;
}

.color-4 {
    color: #6B748D;
}

.color-5 {
    color: #3A4667;
}

.color-6 {
    color: #163AC7;
}

.color-7 {
    color: #30D1FF;
}

.color-8 {
    color: #FFB81C;
}

.color-9 {
    color: #88C100;
}

.color-10 {
    color: #FF6720;
}

.color-11 {
    color: #CA3604;
}

.color-12 {
    color: #777777;
}

.color-13 {
    color: #1C1C1C;
}

/* == End Of Color List == */

/* == Border == */
.border-top {
    border-top: 1px solid #CED1D9 !important;
}

.border-bottom {
    border-bottom: 1px solid #CED1D9 !important;
}

.border-top-bottom {
    border-top: 1px solid #CED1D9 !important;
    border-bottom: 1px solid #CED1D9 !important;
}

.border-left {
    border-left: 1px solid #CED1D9 !important;
}

.border-right {
    border-right: 1px solid #CED1D9 !important;
}

/* == End Of Border == */

/* == Start of page : Artist Portfolio - Client View == */
/* Section: Profile  */
#profile .profile-header {
    background-image: url('../images/cover/cover-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2D4ECD;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 70px;
    padding-top: 100px;
}

#profile .profile-avatar {
    width: 100px;
    border-radius: 5px;
}

#profile .btn-share {
    font-size: 12px;
    float: right;
    width: 100px;
    color: #3A4667;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 3px;
    background-color: white;
    border: 1px solid #EEEEEE;
}

#profile .btn-share:hover {
    filter: brightness(85%);
    transition: 0.2s;
}

#profile .profile-status {
    position: absolute;
    margin-top: 65px;
    margin-left: 20px;
    color: #88C100;
    font-size: 12px;
}

#profile .user-name {
    font-family: 'space_groteskmedium';
    font-size: 26px;
    color: #091841;
    line-height: 40px;
}

#profile .user-tagline {
    font-size: 15px;
    color: #9da3b3;
}

#profile .star-rating {
    font-size: 12px;
    color: #ffbf33;
    margin-bottom: 10px;
}

#profile .star-rating-empty {
    font-size: 10px;
    color: #CED1D9;
    margin-bottom: 10px;
}

#profile .number-rating {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    color: #9da3b3;
}

#profile .subtitle {
    color: #9da3b3;
    font-size: 12px;
}

#profile .user-desc {
    color: #9da3b3;
    font-size: 15px;
    line-height: 28px;
}

#profile .btn-category {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #3A4667;
    border: 1px solid #CED1D9;
}

#profile .btn-category:hover {
    color: #FFF;
    background-color: #3A4667;
    transition: 0.2s;
}

#profile .modal-btn-close {
    width: 100%;
    padding: 16px 0;
    border: 1px solid #2d4ecd;
    color: #091841;
    font-family: 'space_groteskmedium';
    font-size: 15px;
}

#profile .modal-btn-close:hover {
    width: 100%;
    padding: 16px 0;
    border: 1px solid #2d4ecd;
    color: #FFF;
    background-color: #2d4ecd;
    font-family: 'space_groteskmedium';
    font-size: 15px;
}

/* End of Section: Profile  */

/* Section: Artwork */
#artwork .title {
    font-family: 'space_groteskmedium';
    font-size: 18px;
    line-height: 28px;
    color: #091841;
}

#artwork .all-artwork {
    font-size: 15px;
    float: right;
    color: #163AC7;
    text-decoration: none;
}

#artwork .thumbnail-image {
    width: 100%;
    padding: 3px;
    border-radius: 6px;
}

#artwork .modal-avatar {
    width: 80%;
}

#artwork .modal-artwork-title {
    font-family: 'space_groteskmedium';
    font-size: 26px;
    color: #091841;
}

#artwork .modal-username {
    font-family: 'space_groteskmedium';
    font-size: 17px;
    line-height: 28px;
    color: #9da3b3;
}

#artwork .btn-like {
    font-family: 'space_grotesksemibold';
    font-size: 15px;
    color: #3a4667;
    background-color: #f3f3f5;
    padding: 12px 23px;
    border-radius: 5px;
}

#artwork .btn-like>i {
    font-size: 15px;
    color: #9da3b3;
    margin-right: 10px;
}

#artwork .btn-like-click {
    font-family: 'space_grotesksemibold';
    font-size: 15px;
    color: #e7437c;
    background-color: #fff0f5;
    padding: 12px 23px;
    border-radius: 5px;
}

#artwork .btn-like-click>i {
    font-size: 15px;
    color: #e7437c;
    margin-right: 10px;
}

#artwork .artwork-large {
    width: 100%;
}

#artwork .btn-tag {
    border: 1px solid #CED1D9;
    color: #3a4667;
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

#artwork .btn-tag:hover {
    color: #FFF;
    background-color: #3a4667;
    transition: 0.2s;
}

#artwork .artwork-desc {
    font-size: 18px;
    color: #6b748d;
}

#artwork .text-tag {
    font-family: 'space_groteskmedium';
    font-size: 16px;
    color: #091841;
}

/* End of Section: Artwork  */

/* Section: Client Review */
#client-review .title {
    font-family: 'space_groteskmedium';
    font-size: 18px;
    line-height: 28px;
    color: #091841;
}

#client-review .star-rating {
    font-size: 10px;
    color: #ffbf33;
    margin-bottom: 10px;
}

#client-review .star-rating-empty {
    font-size: 10px;
    color: #E6E8EC;
    margin-bottom: 10px;
}

#client-review .number-rating {
    font-family: 'space_grotesksemibold';
    font-size: 11px;
    color: #9da3b3;
}

#client-review .nice-select {
    float: right;
    width: 180px;
    height: 50px;
    padding-top: 3px;
    font-size: 14px;
    font-family: "space_grotesksemibold";
    border: 1px solid #ced1d9;
}

#client-review .nice-select>.list {
    width: 180px;
}

#client-review .artist-no-review p {
    font-size: 15px;
    line-height: 28px;
    color: #CED1D9;
}

#client-review .review-tag {
    margin-bottom: 50px;
}

#client-review .btn-tag {
    border: 1px solid #CED1D9;
    color: #3a4667;
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

#client-review .btn-tag:hover {
    background-color: #3a4667;
    color: #FFF;
    transition: 0.2s;
}

#client-review .review-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#client-review .review-username {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    font-weight: 500;
    color: #091841;
}

#client-review .review-time {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    color: #CED1D9;
}

#client-review .review-content {
    font-size: 13px;
    line-height: 28px;
    color: #9DA3B3;
}

/* End of Section: Client Review */

/* Section : Including */
#including .card {
    border: 1px solid #E6E8EC;
    border-radius: 6px;
}

/* Section: Coupon */
#coupon .card {
    border: 1px solid #E6E8EC;
    border-radius: 6px;
}

#coupon .title {
    font-family: 'space_groteskmedium';
    font-size: 18px;
    color: #091841;
}

#coupon .coupon-item {
    border: 1px dotted #9DA3B3;
    border-radius: 3px;
    height: 135px;
}

#coupon .right-border-dot {
    border-right: 1px dotted #9DA3B3;
}

#coupon .discount-icon {
    margin-top: 10px;
    width: 32px;
}

#coupon .discount-title {
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    color: #091841;
}

#coupon .discount-detail {
    color: #6b748d;
    font-size: 12px;
}

#coupon .discount-terms {
    color: #9da3b3;
    font-size: 12px;
}

#coupon .discount-code-title {
    color: #CED1D9;
    font-size: 10px;
    margin-top: -20px;
}

#coupon .discount-code {
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    color: #163AC7;
    float: right;
    text-decoration: none;
    padding-top: 3px;
}

#coupon .copy-icon {
    color: #9da3b3;
    margin-left: 2px;
}

/* End of Section: Coupon */


/* == End of page : Artist Portfolio - Client View == */

/* == Navigation == */
.nav-link.active {
    color: #163AC7;
}

.nav-btn {
    padding: 10px 40px;
    background-color: #163AC7;
    color: #FFF;
    font-size: 15px;
}

.nav-btn:hover {
    color: white;
    filter: brightness(85%);
}

.navbar-brand-img {
    width: 100px;
}

.navlink-icon {
    font-size: 25px;
    color: #3A4667;
}

.navbar-separator {
    border: 1px solid #EEEEEE;
}

.home-after-search {
    position: relative;
    width: 350px;
}

.home-after-search-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 100px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    background-image: url('../images/icon/search-icon.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 17px;
    text-indent: 20px;
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #091841;
    line-height: 20px;
    height: 50px;
    transition: 0.3s ease-in;
}

.home-after-search-input::placeholder {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #9da3b3;
}

.home-after-search-input:focus {
    background-image: none;
    text-indent: 0;
    border: 1px solid #163AC7;
    transition: 0.3s ease-in;
}

.home-after-search-button {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border: 0;
    background-color: #163AC7;
    color: white;
    box-shadow: none !important;
    margin: 1px;
    padding: 0 10px;
    border-radius: 6px;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    width: 80px;
}

.home-after-search-button:hover {
    background-color: #091841;
    color: white;
    transition: 0.2s;
}

/* == End of Navigation == */

/* == Pagination (For all page) == */
.pagination .page-link {
    width: 40px;
    height: 40px;
    padding: 8px;
    border: 1px solid #EEEEEE;
    outline: none;
    border-radius: 2px;
    box-shadow: none;
    color: #9F9F9F;
}

.pagination .page-item.active .page-link {
    border: 0;
    background-color: #163AC7;
    color: #ffffff;
}

/* == End Of Pagination (For all page) == */

/* == Side Nav == */
/* Card Artist */
#side-nav .card-artist {
    height: 82px;
    background-color: #F3F5FC;
    border-radius: 6px;
}

#side-nav .star-icon {
    font-size: 10px;
}

/* End Of Card Artist */

/* Nav Menu */
#sidenav-menu .nav-link {
    color: #6B748D;
}

#sidenav-menu .nav-link.active svg path {
    fill: #163AC7;
    vertical-align: middle;
}

#sidenav-menu .nav-link.active {
    color: #4561D2;
}

#sidenav-menu .nav-menu.active::after {
    content: '';
    border-right: 2px solid #163AC7;
    border-radius: 1px;
    height: 25px;
    float: right;
}

#sidenav-menu .number-of-incoming-chat {
    display: inline-block;
    font-size: 12px;
    background: #59DAFF;
    color: white;
    border-radius: 100%;
    padding: 1px 7px 1px 7px;
    margin-left: 135px;
}


#sidenav-menu .nav-menu-dashboard {
    padding-left: 10px;
}

#sidenav-menu .nav-menu-profile-and-account {
    padding-left: 10px;
}

#sidenav-menu .nav-menu-portofolio {
    padding-left: 16px;
}

#sidenav-menu .nav-menu-commission {
    padding-left: 6px;
}

#sidenav-menu .nav-menu-chat {
    padding-left: 6px;
}

#sidenav-menu .nav-menu-coupon-and-ads {
    padding-left: 10px;
}

#sidenav-menu .nav-menu-help {
    padding-left: 7px;
}

/* End Of Nav Menu */
/* == End Of Side Nav == */

/* == Sidenav Content ==  */

/* Sidenav Content : Balance */
#sidenav-content-balance .card-total-balance {
    width: 335px;
    height: 92px;
    border: 1px solid #F3F3F5;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 15px;
}

#sidenav-content-balance .card-balance-history {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 15px;
}

#sidenav-content-balance .btn-withdraw {
    background-color: #163AC7;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    color: #ffffff;
    border-radius: 6px;
    padding: 11px 20px;
}

#sidenav-content-balance .btn-withdraw:hover {
    background-color: #091841;
}

#sidenav-content-balance .profit {
    color: #88C100;
}

#sidenav-content-balance .pending-withdrawal-request {
    color: #FFB81C;
}

#sidenav-content-balance .withdrawal-request {
    color: #9DA3B3;
}

#sidenav-content-balance .withdrawal {
    color: #FF6720;
}

#withdraw-modal .form-control {
    height: 65px;
    border: 1px solid #CED1D9;
    border-radius: 4px;
}

#withdraw-modal .form-control:focus {
    border: 1px solid #163AC7;
}

#withdraw-modal .form-control::placeholder {
    font-family: 'space_groteskmedium';
    color: #9DA3B3;
}

#withdraw-modal .btn-apply {
    background-color: #163AC7;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    color: #ffffff;
    border-radius: 6px;
    padding: 12px 60px;
}

#withdraw-modal .btn-apply:hover {
    background-color: #091841;
}

/* End Of Sidenav Content : Balance */

#sidenav-content {
    background-color: #F3F5FC;
}

#sidenav-content-dashboard .card {
    border-radius: 6px;
}

/* == End Of Sidenav Content ==  */

/* == Navigation Card For All Sidenav Content == */
#card-nav {
    height: 80px;
    border: 1px solid #CED1D9;
    border-radius: 6px;
}

#card-nav .nav-link {
    color: #9DA3B3;
}

#card-nav .nav-link.active {
    color: #163AC7;
}

#card-nav .nav-link.active::after {
    content: '';
    display: block;
    border-bottom: 1px solid #163AC7;
    width: 35px;
    margin: auto;
    padding-top: 10px;
}

#card-nav .divider {
    border-left: 1px solid #CED1D9;
    height: 40px;
}

/* == End Of Navigation Card For All Sidenav Content == */

/* == Sidenav Content Profile and Account == */
#nav-content-account .card-my-account {
    height: 500px;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 15px;
}

#nav-content-account .card-my-account .form-my-account {
    height: 65px;
    background-color: #F3F3F5;
    border: 2px solid #E6E8EC;
    border-radius: 4px;
}

#nav-content-account .card-my-account .form-my-account::placeholder {
    color: #6B748D;
}

.aa {
    position: absolute;
    right: 55px;
    top: 398px;
    color: #163AC7 !important;
    margin: 1px;
    padding: 0 10px;
    font-size: 13px;
    opacity: 100 !important;
}

#nav-content-account .form-change-password {
    height: 65px;
    border: 1px solid #CED1D9;
    border-radius: 4px;
}

#nav-content-account .form-change-password::placeholder {
    font-family: 'space_groteskmedium';
    color: #9DA3B3;
}

#nav-content-account .form-change-password:focus {
    border: 1px solid #163AC7;
}

#nav-content-account .btn-change-password {
    background-color: #163AC7;
    color: #ffffff;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    border-radius: 6px;
    padding: 10px 55px;
    margin-top: -10px;
}

#nav-content-account .btn-change-password:hover {
    background-color: #091841;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 50);
}

#nav-content-profile .card-my-profile {
    height: 830px;
    border: 0;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 15px;
}

#nav-content-profile .form-my-profile.form-disabled {
    background-color: #F3F3F5;
    color: #9DA3B3;
    border: 1px solid #CED1D9;
    border-radius: 4px;
}

#nav-content-profile .form-my-profile {
    height: 65px;
    border: 1px solid #D0D8F4;
    border-radius: 4px;
    font-family: 'space_groteskmedium';
    color: #091841;
    padding-left: 15px;
}

#nav-content-profile .form-control::placeholder {
    color: #9DA3B3;
    font-family: 'space_groteskregular';
}

#nav-content-profile .form-my-profile:focus {
    border: 1px solid #163AC7;
    border-radius: 4px;
}

#nav-content-profile .textarea-my-profile {
    resize: none;
    border: 1px solid #D0D8F4;
    border-radius: 4px;
    font-family: 'space_groteskmedium';
    color: #091841;
    padding-left: 15px;
    padding-top: 15px;
}

#nav-content-profile .textarea-my-profile:focus {
    border: 1px solid #163AC7;
    border-radius: 4px;
}

#nav-content-profile .btn-save-disabled {
    border: 1px solid #F3F3F5;
    color: #CED1D9;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    padding: 10px 55px;
    border-radius: 6px;
}

#nav-content-profile .btn-save-active {
    background-color: #163AC7;
    color: #ffffff;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    padding: 10px 55px;
    border-radius: 6px;
}

#nav-content-profile .btn-save-active:hover {
    background-color: #091841;
}

/* == Avatar and Cover == */
/* Card Avatar */
#nav-content-avatar-and-cover .card-avatar {
    height: 305px;
    border: 0;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 15px;
}

#nav-content-avatar-and-cover .avatar-img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 4px;
}

#nav-content-avatar-and-cover .btn-upload {
    background-color: #163AC7;
    color: #ffffff;
    font-size: 13px;
    border-radius: 6px;
    padding: 10px 15px;
}

#nav-content-avatar-and-cover .btn-upload:hover {
    background-color: #091841;
}

/* Card Cover */
#nav-content-avatar-and-cover .card-cover {
    height: 400px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 15px;
}

#nav-content-avatar-and-cover .cover-img {
    height: 124px;
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
}

/* == End Of Sidenav Content Profile and Account == */

/* == Sidenav Content : Portofolio == */
#sidenav-content-portofolio .card-your-work {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 15px;
}

#nav-content-your-work .nice-select {
    float: right;
    width: 150px;
    height: 50px;
    padding-top: 3px;
    font-size: 14px;
    font-family: 'space_groteskmedium';
    border: 1px solid #ced1d9;
    margin-top: -10px;
    margin-left: 15px;
    border-radius: 6px;
}

#nav-content-your-work .nice-select>.list {
    width: 150px;
}

#sidenav-content-portofolio .gradient {
    position: relative;
    display: inline-block;
    margin: 4px 0px;
}

#sidenav-content-portofolio .gradient::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
    height: 103%;
    display: inline-block;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 28.57%, rgba(9, 24, 65, 0.7) 83.26%);
    border-radius: 4px;
}

#sidenav-content-portofolio .art-img {
    border-radius: 4px;
    width: 240px;
    height: 200px;
    z-index: 90;
    margin: 4px 0px;
}

#sidenav-content-portofolio .view-and-like p {
    position: relative;
    margin-top: -50px;
    z-index: 1;
    color: white;
}

#nav-content-add-work .card-add-work {
    height: 1320px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 15px;
}

#nav-content-add-work .artwork-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

/* Modal Delete Art Img */
#deleteArtImg p {
    font-size: 14px;
}

#deleteArtImg .btn-cancel {
    position: relative;
    border: 1px solid #CED1D9;
    font-size: 13px;
    border-radius: 6px;
    padding: 9px 30px;
}

#deleteArtImg .btn-cancel:hover {
    background-color: #CED1D9;
}

#deleteArtImg .btn-submit {
    position: relative;
    background-color: #163AC7;
    color: #ffffff;
    font-size: 13px;
    border-radius: 6px;
    padding: 9px 35px;
}

#deleteArtImg .btn-submit:hover {
    background-color: #091841;
}

/* End Of Modal Delete Art Img */

/* -- Modal Art Img -- */
#modal-art-img-06 .artist-img {
    width: 45px;
    height: 45px;
}

#modal-art-img-content .badge-category {
    font-family: 'space_groteskmedium';
    font-size: 13px;
    color: #3A4667;
    border: 1px solid #CED1D9;
    padding: 8px 10px;
    border-radius: 2px;
}

/* -- End Of Modal Art Img -- */

#nav-content-add-work .btn-upload-picture {
    background-color: #163AC7;
    color: #ffffff;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    border-radius: 6px;
}

#nav-content-add-work .btn-upload-picture:hover {
    background-color: #091841;
}

#nav-content-add-work .form-control {
    height: 65px;
    border: 1px solid #D0D8F4;
    border-radius: 4px;
    font-family: 'space_groteskmedium';
    color: #091841;
}

#nav-content-add-work .form-control:focus {
    border: 1px solid #163AC7;
}

#nav-content-add-work .form-category,
.form-sub-category {
    width: 259px;
}

#nav-content-add-work .textarea-my-profile {
    height: 130px;
    resize: none;
    border: 1px solid #D0D8F4;
    border-radius: 4px;
    font-family: 'space_groteskmedium';
    color: #091841;
    padding-left: 15px;
    padding-top: 15px;
}

#nav-content-add-work .btn-add-work {
    background-color: #163AC7;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    color: #ffffff;
    border-radius: 6px;
}

#nav-content-add-work .btn-add-work:hover {
    background-color: #091841;
}

/* == Nav Content Package == */
#nav-content-package .card-package-list {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 15px;
}

#nav-content-package .card-default-addons {
    height: 92px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 15px;
}

#nav-content-package .card-paid-addons {
    height: 416px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 15px;

}

.popover-icon {
    margin-bottom: 5px;
}

.popover {
    margin-left: 170px;
}

.popover-body {
    color: #a4a4a4;
}

#nav-content-package .add-package-img {
    width: 20px;
    height: 20px;
}

/* Modal Create Commission Packages */
#modal-create-commission-packages .form-control {
    height: 65px;
    width: 300px;
    border: 1px solid #CED1D9;
    border-radius: 4px;
    font-family: 'space_groteskmedium';
    color: #091841;
    padding-left: 20px;
    margin: auto;
}

#modal-create-commission-packages .form-control:focus {
    border: 1px solid #163AC7;
}

#modal-create-commission-packages .btn-create {
    background-color: #163AC7;
    color: #ffffff;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    border-radius: 6px;
    padding: 13px 60px;
}

#modal-create-commission-packages .btn-create:hover {
    background-color: #091841;
}

/* End Of Modal Create Commission Packages */

/* Modal Change Package Details */
#change-package-details .form-control {
    height: 65px;
    width: 300px;
    border: 1px solid #CED1D9;
    border-radius: 4px;
    font-family: 'space_groteskmedium';
    color: #091841;
    padding-left: 20px;
    margin: auto;
}

#change-package-details .form-control.disabled {
    background: #F4F4F4;
    color: #9DA3B3;
}

#change-package-details .btn-delete {
    border: 1px solid #F3F3F5;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    border-radius: 4px;
    padding: 10px 30px;
}

#change-package-details .btn-delete:hover {
    background-color: #F3F3F5;
}

#change-package-details .btn-submit {
    background-color: #163AC7;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    border-radius: 6px;
    padding: 10px 50px;
}

#change-package-details .btn-submit:hover {
    background-color: #091841;
}

/* End Of Modal Change Package Details */

/* Modal Set Default Addons */
#set-default-addons .form-control {
    height: 65px;
    border: 1px solid #CED1D9;
    border-radius: 4px;
    font-family: 'space_groteskmedium';
    color: #091841;
    padding-left: 20px;
    margin: auto;
}

#set-default-addons .form-control:focus {
    border: 1px solid #163AC7;
}

#set-default-addons .btn-submit {
    background-color: #163AC7;
    border-radius: 6px;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    padding: 13px 50px;
}

#set-default-addons .btn-submit:hover {
    background-color: #091841;
}


#set-default-addons .nice-select {
    width: 70px;
    height: 40px;
    padding-bottom: 20px;
    font-size: 14px;
    font-family: 'space_groteskmedium';
    border: 1px solid #CED1D9;
    border-radius: 6px;
}

#set-default-addons .nice-select>.list {
    width: 70px;
}

#set-default-addons .color-option label {
    font-family: 'space_groteskmedium';
}

/* End Of Set Default Addons */

/* Modal Change Addons */
#changeAddons .form-control {
    height: 65px;
    border: 1px solid #CED1D9;
    border-radius: 4px;
    font-family: 'space_groteskmedium';
    color: #091841;
    padding-left: 20px;
}

#changeAddons .form-control::placeholder {
    color: #9DA3B3;
}

#changeAddons .form-control:focus {
    border: 1px solid #163AC7;
}

#changeAddons .btn-submit {
    background-color: #163AC7;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    border-radius: 6px;
    padding: 13px 60px;
}

#changeAddons .btn-submit:hover {
    background-color: #091841;
}

#changeAddons .btn-delete {
    border: 1px solid #F3F3F5;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    border-radius: 4px;
    padding: 10px 30px;
}

#changeAddons .btn-delete:hover {
    background-color: #F3F3F5;
}

/* End Of Modal Change Addons */

/* Modal Add Addons */
#modal-add-addons .form-control {
    height: 65px;
    border: 1px solid #CED1D9;
    border-radius: 4px;
    font-family: 'space_groteskmedium';
    color: #091841;
    padding-left: 20px;
    margin: auto;
}

#modal-add-addons .form-control::placeholder {
    color: #9DA3B3;
}

#modal-add-addons .form-control:focus {
    border: 1px solid #163AC7;
}

#modal-add-addons #inputAddonsName,
#inputBriefDesc {
    width: 670px;
}

#modal-add-addons #inputPrice,
#inputDuration {
    width: 300px;
}

#modal-add-addons .btn-add {
    background-color: #163AC7;
    color: #ffffff;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    border-radius: 6px;
    padding: 13px 60px;
}

#modal-add-addons .btn-add:hover {
    background-color: #091841;
}

/* End Of Modal Add Addons */

#nav-content-package .card-default-addons .btn-set-default-addons {
    background-color: #163AC7;
    color: #ffffff;
    font-family: 'space_groteskmedium';
    font-size: 12px;
    border-radius: 6px;
    padding: 8px 18px;
}


#nav-content-package .card-default-addons .btn-set-default-addons:hover {
    background-color: #091841;
}

/* End Of Nav Content Package */
/* == End Of Sidenav Content : Portofolio == */

/* == Sidenav Content : Commission == */
#nav-active-order .card-active-order {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 15px;
}

#nav-active-order .card-order-list {
    height: 250px;
    width: 290px;
    border: 1px solid #A2B0E9;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 6px;
}

#nav-content-active-order .nice-select {
    width: 65px;
    height: 40px;
    font-size: 14px;
    font-family: 'space_groteskmedium';
    border: 1px solid #CED1D9;
    border-radius: 6px;
    margin-top: 13px;
}

#nav-content-active-order .nice-select>.list {
    width: 65px;
}


/* Label And Price */
#card-order-list .label-blue {
    display: inline-block;
    background-color: #D6F6FF;
    color: #30D1FF;
    border-radius: 2px;
    padding: 2px 20px;
}

#card-order-list .price-blue {
    color: #30D1FF;
    padding-top: 3px;
}

#card-order-list .label-red {
    display: inline-block;
    background-color: #F4D7CD;
    color: #CA3604;
    border-radius: 2px;
    padding: 2px 10px;
}

#card-order-list .price-red {
    color: #CA3604;
    padding-top: 3px;
}

#card-order-list .label-yellow {
    display: inline-block;
    background-color: #FFF1D2;
    color: #FFB81C;
    border-radius: 2px;
    padding: 2px 10px;
}

#card-order-list .price-yellow {
    color: #FFB81C;
    padding-top: 3px;
}

/* End Of Label And Price */

#card-order-list .category {
    font-size: 17px;
}

#card-order-list .sub-category {
    font-size: 15px;
}

#card-order-list .time {
    font-size: 13px;
}

#card-order-list .dot {
    display: inline-block;
    background-color: #30D1FF;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    margin-bottom: 2px;
}

#card-order-list .date {
    color: #59DAFF;
}

#card-order-list .divider {
    display: block;
    border: 1px solid #D0D8F4;
    width: 100%;
}

#nav-order-completed .card-order-completed {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 15px;
}

#nav-order-completed .form-search-something {
    position: relative;
    width: 250px;
    margin-left: 158px;
    margin-top: -10px;
}

#nav-order-completed .form-search-something-input {
    width: 100%;
    border: 1px solid #CED1D9;
    border-radius: 6px;
    padding: 10px 100px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    background-image: url('../images/icon/search-icon.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 17px;
    text-indent: 20px;
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #091841;
    line-height: 20px;
    height: 50px;
}

#nav-order-completed .form-search-something-input:focus {
    border: 1px solid #163AC7;
}

#nav-order-completed .form-search-something-input::placeholder {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #9da3b3;
}

#nav-order-completed .nice-select {
    float: right;
    width: 150px;
    height: 50px;
    padding-top: 3px;
    font-size: 14px;
    font-family: 'space_groteskmedium';
    border: 1px solid #ced1d9;
    margin-top: -10px;
    margin-left: 15px;
}

#nav-order-completed .nice-select>.list {
    width: 150px;
}

#nav-order-completed .card-order-list-complete {
    width: 100%;
    border: 1px solid #A2B0E9;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 6px;
}

#nav-order-completed .card-order-list-complete .label {
    font-family: 'space_groteskbold';
}

#nav-order-completed .card-order-list-complete .star-rating {
    font-size: 12px;
}

#nav-order-completed .card-order-list-complete .star-rating .filled-star {
    color: #FFB81C;
}

#nav-order-completed .card-order-list-complete .star-rating .unfilled-star {
    color: #E6E8EC;
}

#nav-order-completed .card-order-list-complete .category {
    font-size: 17px;
}

#nav-order-completed .card-order-list-complete .sub-category {
    font-size: 15px;
}

#nav-order-completed .card-order-list-complete .status {
    font-size: 13px;
}

#nav-order-completed .card-order-list-complete .dot {
    display: inline-block;
    background-color: #30D1FF;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    margin-bottom: 2px;
}

#nav-order-completed .card-order-list-complete .date {
    color: #59DAFF;
}

#nav-order-completed .card-order-list-complete .divider {
    display: block;
    border: 1px solid #D0D8F4;
    width: 100%;
}

/* Page Order Detail */
#nav-content-order-detail .card-order-detail {
    border-radius: 6px;
}

#card-order-detail .label-red {
    display: inline-block;
    background-color: #F4D7CD;
    color: #CA3604;
    border-radius: 2px;
    padding: 2px 10px;
}

#card-order-detail .card-client {
    border: 1px solid #E6E8EC;
    border-radius: 6px;
    width: 380px;
}

#card-order-detail .card-client .client-img {
    width: 45px;
    height: 45px;
    border-radius: 4px;
}

#card-order-detail .btn-chat-client {
    font-size: 13px;
    font-family: 'space_groteskmedium';
    border: 1px solid #2D4ECD;
    border-radius: 6px;
    padding: 11px 15px;
}

#card-order-detail .btn-chat-client:hover {
    background-color: #2D4ECD;
    color: #ffffff;
}

#nav-content-order-detail .card-price {
    border: 1px solid #E6E8EC;
    box-sizing: border-box;
    border-radius: 6px;
}

#card-order-detail .star-rating .filled-star {
    color: #FFB81C;
}

#card-order-detail .star-rating .unfilled-star {
    color: #E6E8EC;
}

#card-order-detail .star-rating .number-rating {
    font-size: 14px;
}

#card-order-detail .link-check-attachments {
    text-decoration: none;
    color: #163AC7;
    border-bottom: 1px solid #163AC7;
}

/* End Of Page Order Detail */

/* -- Modal For All Order Detail Navigation Card Menu -- */

/* Modal : Order Progress  */
.form-order-progress {
    position: relative;
    width: 100%;
}

.order-progress-input {
    width: 100%;
    border: 1px solid #9DA3B3;
    border-radius: 18px;
    padding: 10px 100px 10px 20px;
    outline: none;
    text-indent: 25px;
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #091841;
    height: 69px;
}

.order-progress-input:focus {
    border: 1px solid #163AC7;
    transition: 0.2s ease-in;
}

.order-progress-input::placeholder {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #9DA3B3;
}

#form-order-progress .btn-attachment {
    position: absolute;
    left: 0;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border: 0;
    margin-left: 10px;
    padding: 10px;
    font-size: 13px;
}

#form-order-progress .btn-submit {
    background-color: transparent;
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border: 0;
    margin: 1px;
    padding: 0 10px;
    font-size: 13px;
}

#nav-content-order-progress .list-progress-options {
    margin-left: -6px;
}

#nav-content-order-progress .list-progress-options .progress-options {
    font-size: 12px;
    border: 1px solid #163AC7;
    border-radius: 18px;
    padding: 3px 10px;
}

#nav-content-order-progress .list-progress-options .progress-options:hover {
    background-color: #163AC7;
    color: #ffffff;
    transition: 0.2s ease-in;
    cursor: pointer;
}

#progress-list .progress-card {
    border: 1px solid #E6E8EC;
    border-radius: 6px;
}

#progress-list .progress-card .dot {
    display: inline-block;
    background-color: #091841;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    margin-bottom: 2px;
}

#progress-list .progress-card .btn-confirmation {
    background-color: #163AC7;
    color: #ffffff;
    font-size: 13px;
    border-radius: 6px;
}

#progress-list .progress-card .btn-confirmation:hover {
    background-color: #091841;
}

#progress-list .progress-card .progress-img {
    width: 150px;
    border-radius: 4px;
}

#progress-list .progress-card .file-name {
    font-size: 13px;
    color: #3A4667;
}

/* Modal : Add Label */
#addLabel .form-control {
    height: 65px;
    border: 1px solid #CED1D9;
    border-radius: 4px;
}

#addLabel .form-control::placeholder {
    color: #9DA3B3;
}

#addLabel .form-control {
    font-family: 'space_groteskmedium';
    color: #091841;
}

#addLabel .form-control:focus {
    border: 1px solid #163AC7;
}

#addLabel .btn-submit {
    background-color: #163AC7;
    color: #ffffff;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    border-radius: 6px;
    padding: 11px 55px;
    margin-top: -25px;
}

#addLabel .btn-submit:hover {
    background-color: #091841;
}

/* End Of Modal : Add Label */

/* Modal : Upload Attachment */
#uploadAttachment .dropzone {
    border: 2px dashed #CED1D9;
    border-radius: 4px;
    height: 120px;
    min-height: 0px !important;
    padding-top: 5px;
}

#uploadAttachment .dz-preview .dz-image {
    height: 80px;
    width: 80px;
    margin-top: -9px;
}

#uploadAttachment .textarea {
    height: 125px;
    border: 1px solid #CED1D9;
    border-radius: 4px;
    padding: 17px 0px 0px 17px;
    font-family: 'space_groteskmedium';
    color: #091841;
}

#uploadAttachment .textarea::-webkit-resizer {
    background-image: url('../images/icon/textarea-resize-icon.svg');
}

#uploadAttachment .textarea::placeholder {
    color: #9DA3B3;
}

#uploadAttachment .textarea:focus {
    border: 1px solid #163AC7;
}

#uploadAttachment .btn-cancel {
    border: 1px solid #163AC7;
    border-radius: 6px;
    font-family: 'space_groteskmedium';
    font-size: 13px;
}

#uploadAttachment .btn-cancel:hover {
    background-color: #163AC7;
    color: #ffffff;
}

#uploadAttachment .btn-submit {
    background: #163AC7;
    border-radius: 6px;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    color: #ffffff;
}

#uploadAttachment .btn-submit:hover {
    background-color: #091841;
}

/* End Of Modal : Upload Attachment */

/* Modal : Order Confirmation */
#orderConfirmation p {
    font-size: 14px;
}

#orderConfirmation .btn-cancel {
    position: relative;
    border: 1px solid #CED1D9;
    font-size: 13px;
    border-radius: 6px;
    padding: 9px 30px;
}

#orderConfirmation .btn-cancel:hover {
    background-color: #CED1D9;
}

#orderConfirmation .btn-submit {
    position: relative;
    background-color: #163AC7;
    color: #ffffff;
    font-size: 13px;
    border-radius: 6px;
    padding: 9px 35px;
}

#orderConfirmation .btn-submit:hover {
    background-color: #091841;
}

/* End Of Modal : Order Confirmation */

/* End Of Content : Order Progress  */

/* Content : Attachments */
#nav-content-attachments .card-final-attachments {
    border: 1px solid #E6E8EC;
    border-radius: 6px;
}

#nav-content-attachments .card-final-attachments .dropzone {
    border: 2px dashed #CED1D9;
    border-radius: 4px;
    height: 120px;
    min-height: 0px !important;
    padding-top: 5px;
}

#nav-content-attachments .card-final-attachments .dz-preview .dz-image {
    height: 80px;
    width: 80px;
    margin-top: -9px;
}

#nav-content-attachments .card-final-attachments .file-name {
    font-family: 'space_groteskmedium';
    color: #3A4667;
}

#nav-content-attachments .card-final-attachments .download-link {
    font-family: 'space_groteskmedium';
    color: #163AC7;
    border-bottom: 1px solid #163AC7;
}

#nav-content-attachments .card-final-attachments .divider {
    border: 1px solid #E6E8EC;
}

#nav-content-attachments .card-attachment-confirmation {
    border: 1px solid #E6E8EC;
    border-radius: 6px;
}

#nav-content-attachments .card-attachment-confirmation .btn-submit {
    background-color: #163AC7;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    color: #ffffff;
    border-radius: 6px;
    padding: 10px 50px;
}

#nav-content-attachments .card-attachment-confirmation .btn-submit:hover {
    background-color: #091841;
}

/* Modal Delete Attachments */
#deleteAttachments p {
    font-size: 14px;
}

#deleteAttachments .btn-cancel {
    position: relative;
    border: 1px solid #CED1D9;
    font-size: 13px;
    border-radius: 6px;
    padding: 9px 30px;
}

#deleteAttachments .btn-cancel:hover {
    background-color: #CED1D9;
}

#deleteAttachments .btn-submit {
    position: relative;
    background-color: #163AC7;
    color: #ffffff;
    font-size: 13px;
    border-radius: 6px;
    padding: 9px 35px;
}

#deleteAttachments .btn-submit:hover {
    background-color: #091841;
}

/* End Of Modal Delete Attachments */

/* Modal Confirmation Attachments */
#confirmationAttachments p {
    font-size: 14px;
}

#confirmationAttachments .btn-cancel {
    position: relative;
    border: 1px solid #CED1D9;
    font-size: 13px;
    border-radius: 6px;
    padding: 9px 30px;
}

#confirmationAttachments .btn-cancel:hover {
    background-color: #CED1D9;
}

#confirmationAttachments .btn-submit {
    position: relative;
    background-color: #163AC7;
    color: #ffffff;
    font-size: 13px;
    border-radius: 6px;
    padding: 9px 35px;
}

#confirmationAttachments .btn-submit:hover {
    background-color: #091841;
}

/* End Of Modal Confirmation Attachments */

/* End Of Content : Attachments */

/* Content Order Detail */
#order-detail .category-and-detail {
    padding-left: 160px;
}

#order-detail .artwork-img {
    width: 132px;
    border-radius: 4px;
}

#order-detail .badge-category {
    font-weight: 500;
    border: 1px solid #CED1D9;
    padding: 8px 35px;
    border-radius: 2px;
}

#order-status .border-top-and-bottom,
#order-detail .border-top-and-bottom {
    border-top: 1px solid #E6E8EC;
    border-bottom: 1px solid #E6E8EC;
}

#order-status .border-img {
    margin-top: -30px;
}

#order-status .status {
    margin-top: -25px;
}

#order-status .separator {
    border: 1px solid #E6E8EC;
}

#order-status .checked-icon {
    vertical-align: middle;
    margin-top: -8px;
}

#order-detail .checked-icon,
span {
    vertical-align: middle;
}

#instructions-for-artists .text-area {
    height: 145px;
    border: 1px solid #CED1D9;
    padding-top: 15px;
    padding-left: 15px;
    transition: 0.3s ease-out;
}

#instructions-for-artists .text-area:focus {
    border: 1px solid #163AC7;
    transition: 0.3s ease-in;
}

#instructions-for-artists .text-area::-webkit-resizer {
    display: block;
    background-image: url('../images/icon/textarea-resize-icon.svg');
}

/* End Of Content Order Detail */

/* -- End Of Content For All Order Detail Navigation Card Menu -- */

/* == End Of Sidenav Content : Commission == */

/* == Sidenav Content : Coupon & Ads == */
#nav-content-coupon .card-coupon {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 15px;
}

/* Section: Coupon */
#nav-content-coupon .coupon-item .title {
    font-family: 'space_groteskmedium';
    font-size: 18px;
    color: #091841;
}

#nav-content-coupon .coupon-item {
    background-color: #FFFFFF;
    border: 1px solid #163AC7;
    box-shadow: 2px 2px 6px rgba(9, 24, 65, 0.5);
    height: 135px;
}

#nav-content-coupon .add-coupon {
    border: 1px dashed #163AC7;
    height: 135px;
}

#nav-content-coupon .add-coupon .right-border-dot {
    border-right: 1px dashed #163AC7;
    height: 135px;
}

#nav-content-coupon .coupon-item .right-border-dot {
    border-right: 1px dotted #9da3b3;
    height: 70px;
}

#nav-content-coupon .coupon-item .border-bottom {
    border: 1px solid #4561D2;
}

#nav-content-coupon .coupon-item .discount-icon {
    margin-top: 10px;
    width: 32px;
}

#nav-content-coupon .coupon-item .discount-title {
    font-family: 'space_grotesksemibold';
    font-size: 15px;
    color: #091841;
}

#nav-content-coupon .coupon-item .discount-detail {
    color: #6b748d;
    font-size: 12px;
}

#nav-content-coupon .coupon-item .discount-terms {
    color: #9da3b3;
    font-size: 12px;
}

#nav-content-coupon .coupon-item .discount-code-title {
    color: #4561D2;
    font-size: 12px;
    display: block;
    padding-top: 7px;
}

#nav-content-coupon .coupon-item .discount-code {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #163AC7;
    text-decoration: none;
    float: right;
}

#nav-content-coupon .coupon-item .discount-code-and-delete-button {
    margin-top: -24px;
}


#nav-content-coupon .coupon-item .btn-delete-coupon {
    margin-top: -8px;
}

#nav-content-coupon .coupon-item .trash-can-icon {
    margin-bottom: 7px;
}

#deleteCoupon p {
    font-size: 14px;
}

#deleteCoupon .btn-cancel {
    position: relative;
    border: 1px solid #CED1D9;
    font-size: 13px;
    border-radius: 6px;
    padding: 9px 30px;
}

#deleteCoupon .btn-submit {
    position: relative;
    background-color: #163AC7;
    color: #ffffff;
    font-size: 13px;
    border-radius: 6px;
    padding: 9px 35px;
}

/* -- All Modal Coupon -- */

/* Modal persenanForm */
#persenanForm .form-control {
    height: 65px;
    border: 1px solid #CED1D9;
    box-shadow: none;
    font-family: 'space_groteskmedium';
    border-radius: 4px
}

#persenanForm .form-control:focus {
    border: 1px solid #163AC7;
}

#persenanForm .form-control::placeholder {
    color: #9DA3B3;
}

#persenanForm .btn-submit {
    background-color: #163AC7;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    padding: 11px 60px;
    border-radius: 6px;
}

/* End Of Modal persenanForm */

/* Modal nominalForm */
#nominalForm .form-control {
    height: 65px;
    border: 1px solid #CED1D9;
    box-shadow: none;
    font-family: 'space_groteskmedium';
    border-radius: 4px
}

#nominalForm .form-control:focus {
    border: 1px solid #163AC7;
}

#nominalForm .form-control::placeholder {
    color: #9DA3B3;
}

#nominalForm .btn-submit {
    background-color: #163AC7;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    padding: 11px 60px;
    border-radius: 6px;
}

/* End Of Modal nominalForm */

/* End Of All Modal Coupon */

/* End of Section: Coupon */

/* Section Ads */

/* All Modal Ads */
/* Modal addAds */
#addAds .btn-category {
    border: 1px solid #E6E8EC;
    border-radius: 4px;
    color: #CED1D9;
    padding: 13px 20px;
}

#addAds .btn-category.selected {
    border: 1px solid #163AC7;
    color: #163AC7;
}

#addAds .btn-category:focus {
    border: 1px solid #163AC7;
    color: #163AC7;
}

#addAds .btn-payment {
    border: 1px solid #E6E8EC;
    border-radius: 4px;
    color: #CED1D9;
    padding: 13px 40px;
}

#addAds .btn-payment.selected {
    border: 1px solid #163AC7;
    color: #163AC7;
}

#addAds .btn-payment:focus {
    border: 1px solid #163AC7;
    color: #163AC7;
}

#addAds .btn-submit {
    background-color: #163AC7;
    font-family: 'space_groteskmedium';
    border-radius: 6px;
    padding: 12px 60px;
}

#addAds .btn-submit:hover {
    background-color: #091841;
}

/* End Of Modal addAds */
/* End Of All Modal Ads */

/* End Of Section Ads */

/* == End Of Sidenav Content : Coupon & Ads ==  */

/* == Sidenav Content : Help == */
#nav-content-create-ticket .nice-select {
    width: 170px;
    height: 50px;
    padding-top: 3px;
    font-size: 14px;
    font-family: 'space_groteskmedium';
    border: 1px solid #ced1d9;
    margin-top: -10px;
    border-radius: 6px;
}

#nav-content-create-ticket .nice-select>.list {
    width: 170px;
}

#nav-content-create-ticket .form-control {
    height: 65px;
    border: 1px solid #CED1D9;
    font-family: 'space_groteskmedium';
    color: #091841;
    border-radius: 4px;
    padding-left: 17px;
}

#nav-content-create-ticket .form-control:focus {
    border: 1px solid #163AC7;
}

#nav-content-create-ticket .form-control::placeholder {
    color: #9DA3B3;
}

#nav-content-create-ticket .textarea {
    resize: none;
    height: 150px;
    padding-top: 15px;
}

#nav-content-create-ticket .btn-send {
    background-color: #163AC7;
    border-radius: 6px;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    color: white;
    padding: 13px 60px;
}

#nav-content-create-ticket .btn-send:hover {
    background-color: #091841;
}

/* == End Of Sidenav Content : Help == */

/* == Start of page : Sign In & Register == */
.button-back {
    text-decoration: none;
    color: #9da3b3;
    font-size: 26px;
    margin-top: 20px;
}

.button-back:hover {
    color: #091841;
}

.login-image {
    background-color: #f3f5fc;
    text-align: center;
}

.login-image img {
    width: 582px;
}

.register-image {
    background-color: #f3f5fc;
    text-align: center;
}

.register-image img {
    width: 582px;
}

.big-title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'space_grotesksemibold';
    font-size: 40px;
    color: #091841;
}

.subtitle {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #9da3b3;
}

#tab-button {
    width: 194px;
    border: 1px solid #e6e8ec;
    border-radius: 4px;
    padding: 7px;
    margin-top: 10px;
}

#sign-in-tab .nav-link {
    font-family: 'space_groteskregular';
    font-size: 13px;
    color: #9da3b3;
    border-radius: 4px;
    padding: 10px 22px;
}

#sign-in-tab .active {
    color: #FFF;
    background-color: #163ac7;
}

#sign-in-tab .nav-divider {
    border-right: 1px solid #e6e8ec;
    margin-left: 10px;
    margin-right: 10px;
}

#login-form {
    width: 70%;
}

#login-form .form-group>label {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #6b748d;
}

#login-form .form-group>input.form-control {
    font-family: 'space_groteskmedium';
    font-size: 17px;
    line-height: 28px;
    color: #091841;
    height: 70px;
    padding: 0 25px;
}

#login-form .form-group>input.form-control::placeholder {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    line-height: 28px;
    color: #9da3b3;
}

#login-form .error-text {
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    color: #ca3604;
}

#login-form .warning-text {
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    color: orange;
}

#login-form .error-input {
    border: 1px solid #ca3604;
}

#login-form .form-group>label.form-check-label {
    font-family: 'space_groteskmedium';
    font-size: 13px;
    color: #6b748d;
}

#login-form .forgot-pass {
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    color: #222f54;
    float: right;
}

#login-form .forgot-pass:hover {
    text-decoration: none;
}

#login-form .btn-login {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #FFF;
    background-color: #163ac7;
    width: 100%;
    height: 60px;
}

#login-form .btn-login:hover {
    filter: brightness(0.85);
    transition: 0.2s;
}

#login-form .register-now-text {
    width: 100%;
    text-align: center;
}

#login-form .register-now-text small {
    font-size: 12px;
    color: #9da3b3;
}

#login-form .register-now-text a {
    font-family: 'space_grotesksemibold';
    color: #222f54;
}

#login-form .register-now-text a:hover {
    text-decoration: none;
}

#set-up .first-step {
    font-family: 'space_groteskmedium';
    font-size: 26px;
    color: #000;
}

#set-up .second-step {
    font-family: 'space_groteskmedium';
    font-size: 26px;
    color: #000;
}

#set-up .first-step>span:nth-child(2) {
    color: #ced1d9;
}

#set-up .set-up-form {
    width: 75%;
}

#set-up .set-up-form label {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #6b748d;
}

#set-up .set-up-form input[name=cost] {
    display: none;
}

#set-up .set-up-form>.cost-item {
    width: 100%;
    padding: 18px;
    border: 1px solid #e6e8ec;
    border-radius: 6px;
}

#set-up .cost-item>span {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #9da3b3;
}

.item-selected {
    border: 1px solid #163ac7 !important;
    background-color: #f3f5fc !important;
    transition: 0.2s;
}

.text-selected {
    color: #000 !important;
    font-family: 'space_grotesksemibold' !important;
    transition: 0.2s;
}

/* Select2 Style Overriding - Start */

#set-up-body .select2-container .select2-selection--multiple {
    min-height: 95px;
    padding: 9px 10px;
}

#set-up-body .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #163ac7 1px;
    border-radius: 4px;
}

#set-up-body .select2-container .select2-search--inline .select2-search__field {
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    color: #091841;
}

#set-up-body .select2-container .select2-search--inline .select2-search__field::placeholder {
    color: #9da3b3;
    font-family: 'space_groteskmedium';
    font-size: 14px;
}

#set-up-body .select2-container--default .select2-results>.select2-results__options {
    overflow-y: hidden;
    max-height: 175px;
}

#set-up-body .select2-dropdown {
    border: 1px solid #ced1d9;
    padding: 5px 6px;
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    color: #9da3b3;
}

#set-up-body .select2-container--open .select2-dropdown--above {
    border-bottom: 1px solid #ced1d9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#set-up-body .select2-container--open .select2-dropdown--below {
    border-top: 1px solid #ced1d9;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#set-up-body .select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    margin-top: 10px;
}

#set-up-body .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    margin-bottom: 10px;
}

#set-up-body .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f3f5fc;
    color: #091841;
    transition: 0.1s;
}

#set-up-body .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3a4667;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

#set-up-body .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    border-right: none;
}

#set-up-body .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #FFF;
    background-color: #3a4667;
}

/* Select2 Style Overriding - End */

#set-up .select-tag {
    height: 200px;
}

#set-up .trend-text {
    font-family: 'space_groteskmedium';
    font-size: 13px;
    color: #9da3b3;
}

#set-up .trend-tag {
    font-family: 'space_grotesksemibold';
    font-size: 13px;
    color: #3a4667;
    border: 1px solid #ced1d9;
    padding: 7px 20px;
    margin-bottom: 7px;
}

#set-up .trend-tag:hover {
    background-color: #3a4667;
    color: #FFF;
    text-decoration: none;
    transition: 0.2s;
}

#set-up .btn-next {
    width: 100%;
    background-color: #163ac7;
    color: #FFF;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    height: 60px;
    border-radius: 6px;
}

#set-up .btn-next:hover {
    filter: brightness(0.85);
    transition: 0.2s;
}

#set-up .btn-next:disabled {
    background-color: #e6e8ec;
}

#set-up .btn-skip {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #6b748d;
    margin-top: 20px;
}

/* == End of page : Sign In & Register == */

.btn-submit {
    background-color: #163AC7;
    color: #ffffff;
    font-size: 13px;
    border-radius: 6px;
    padding: 9px 35px;
}

.btn-submit:hover {
    background-color: #163AC7;
    color: #ffffff;
    font-size: 13px;
    border-radius: 6px;
    padding: 9px 35px;
}

.ads-border-blue-active {
    border-color: #163AC7 !important;
    color: #163AC7 !important;
}

.ads-border-blue:hover {
    border-color: #1639c7b7 !important;
    color: #1639c7b7 !important;
}